@import "./partials/colors";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-public;
}

.navbar {
  position: relative;
  align-items: center;
  height: 100px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-btn {
    display: none;
  }

  &-toggle{
    background-color: transparent;
    border:none;
  }

  @include laptop-query {
    &-btn{
      display: block;
    }
  }
}

.img {
  display: none;
  
  /*
  * Show/ hide hamburger and close icons
  * Hide icons when >= tablet size
  */
  &.show {
    display: inline-block;
  
    @include laptop-query {
      display: none;
    }
  }
  @include laptop-query {
    display: none;
  }
}

.dropdown {
  padding: 1rem;
  height: 240px;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(241, 238, 238, 0.2);
  align-content: center;
  justify-content: center;
  background-color: $white;
  margin: 0.51rem;

  @include laptop-query {
    display: flex;
    border: none;
    box-shadow: none;
    position: relative;
    height: fit-content;
  }
}

.change {
  width: 90%;
  max-width: 660px;
  display: flex;
<<<<<<< HEAD
  position: relative;
  top: 30px;
  transition: margin-right 4s ease-in-out;
=======

  /*
  * Dropdown list absolute to .navbar
  */
  position: absolute;
  top: 100%;
  left:0;
  right:0;
  margin:auto;
  z-index: 1;

>>>>>>> 9343d9faff8517f03a5d21424bbbed3693bb91db
  @include tablet-query {
    width: 700px;
  }
  @include laptop-query {
    width: 400px;
    position: relative;
    top: -50px;
  }
}

.dropdown-list {
  list-style: none;
  padding:0;
}

.dropdown-link {
  color: $dark-blue;
  text-decoration: none;
}
.dropdown-link:hover {
  border-bottom: 0.21rem solid $lime-green;
  color: $dark-blue;

  @include laptop-query {
    border-bottom: 0.3rem solid $lime-green;
    padding-bottom: 1rem;
  }
}
.dropdown-list__item {
  list-style: none;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;

  @include laptop-query {
    display: inline-block;
  }
}
.dropdown-list__item:hover {
  @include tablet-query {
  }
}

.bars {
  @include tablet-query {
    display: none;
  }
  @include laptop-query {
    display: none;
  }
}

.phone-img{
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin:auto;
  height: 125%;
}

.hero-body{
  margin-top: 7rem;
  text-align: center;
  @include tablet-query{
    text-align: left;
    margin-top: 0;
  }
}

/*
* WHY
*/

/* Why section*/
.why {
  padding: 7rem 0 5rem 0;
}

.why .container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  font-family: "Public Sans", sans-serif;
}

.why-section {
  color: hsl(233, 26%, 24%);
  font-family: "Public Sans", sans-serif;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 3rem;

  @include tablet-query {
    padding-left: 7rem;
  }
}
.why-p {
  color: hsl(233, 8%, 62%);
  padding: 1rem;
}
.why-section img {
  padding: 1.8rem;
}

/* Article card */
.article {
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 0 5px $light-grayish-blue;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px $light-grayish-blue;
  }

  &-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  &__content {
    padding: 1rem 1.5rem;
    &-title {
      font-size: $fs-m;
      font-weight: $fw-normal;
      color: $dark-blue;
    }
    &-desc {
      font-size: $fs-s;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__credit {
    font-size: $fs-xs;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    &-author:hover {
      text-decoration: underline;
    }
  }
  &__credit,
  &__content-desc,
  a {
    color: $grayish-blue;
    font-weight: $fw-light;
    text-decoration: none;
  }
  &-link {
    color: transparent !important;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
/* Articles section */
.articles {
  padding: 5rem 0;
  background-color: $very-light-gray;

  &-title {
    font-weight: $fw-normal;
    color: $dark-blue;
    text-align: center;
    font-size: $fs-l;
    margin-bottom: $fs-xl;
    text-transform: capitalize;
  }
  &__list {
    display: grid;
    grid-gap: 2rem;
    padding: 0;
  }

  @include tablet-query {
    padding: 5rem;
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
  @include laptop-query {
    padding: 5rem 10rem;
    &-title {
      text-align: left;
      font-size: $fs-xl;
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}

// Footer Section
.footer {
  background-color: $dark-blue;
  color: $white;

  &__container {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lg {
  margin-bottom: $margin + 1.5;
}

.logo__image {
  width: 144px;
  height: auto;
}

.social__media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $margin;
  padding: 0;
}

.svg__icon {
  width: 26px;
  height: 26px;
  margin-bottom: $margin;

  path {
    transition: fill 0.3s;
    &:hover,
    &:active {
      fill: $lime-green;
    }
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $margin;
  margin-bottom: $margin + 1;
  padding: 0;
}

.link__item {
  list-style: none;
  margin-bottom: $margin;

  .link {
    text-decoration: none;
    color: $white;
    font-weight: $fw-normal;
    font-size: $fs-s + 0.2;
    transition: color 0.3s;

    &:hover,
    &:active {
      color: $lime-green;
    }
  }
}

.request-btn {
  border:none;
  color: $white;
  background: linear-gradient(45deg, $lime-green, $bright-cyan);
  border-radius: $margin + 0.9;
  padding: 0.8rem 2.8rem;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: $white;
    background: linear-gradient(45deg, hsl(136, 65%, 44%), hsl(192, 70%, 45%));
  }
}

.copyright {
  color: $grayish-blue;
  margin-top: 1rem;
}

.btn {
  padding: 0.8rem 2rem;
}

.btn-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include tablet-query {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: $margin + 0.5;
  }

  .lg {
    padding: 0.2rem;
    margin-bottom: $margin + 2.5;
  }
  .logo__image {
    width: 144px;
    height: auto;
  }

  .svg__icon {
    width: 20px;
    height: 20px;
  }

  .link__item {
    .link {
      font-size: $fs-s;
    }
  }

  .copyright {
    font-size: $fs-s;
  }

  .btn {
    padding: 0.5rem 2rem;
  }
}

@include laptop-query {
  .footer__container {
    padding: 3rem 5rem;
  }

  .footer__links {
    margin-bottom: 0;
  }

  .link__item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $margin + 4;
    text-align: left;
  }
}
