@import "./partials/colors";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  padding: $padding * 2;
  background-color: $Very-Light-Gray;
}

.bars {
  display: none;
}
.close {
  padding-right: $padding * 0;
}
.dropdown-container {
  background-color: $White;
  width: 30rem;
  &__list {
    list-style: none;
  }
}
