/* colors */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
/* font-family */
/* font-weight */
/* font-size */
/* media queries */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background-color: #fafafa;
}

.bars {
  display: none;
}

.close {
  padding-right: 0rem;
}

.dropdown-container {
  background-color: white;
  width: 30rem;
}

.dropdown-container__list {
  list-style: none;
}

/* Article card */
.article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 0 5px #f3f4f6;
          box-shadow: 0 0 5px #f3f4f6;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
}

.article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px 5px #f3f4f6;
          box-shadow: 0 0 10px 5px #f3f4f6;
}

.article-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__content {
  padding: 1rem 1.5rem;
}

.article__content-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #2d314d;
}

.article__content-desc {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article__credit {
  font-size: 0.8rem;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

.article__credit-author:hover {
  text-decoration: underline;
}

.article__credit, .article__content-desc {
  color: #9698a6;
  font-weight: 300;
}

.article-link {
  color: transparent !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Articles section */
.articles {
  padding: 5rem 1rem;
  background-color: #fafafa;
}

.articles-title {
  font-weight: 400;
  color: #2d314d;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}

.articles__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .articles {
    padding: 5rem;
  }
  .articles__list {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .articles {
    padding: 5rem 10rem;
  }
  .articles-title {
    text-align: left;
    font-size: 2.5rem;
  }
  .articles__list {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
/*# sourceMappingURL=styles.css.map */