@import "./partials/colors";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff-public;
}
.logo {
  @include tablet-query {
    margin-left: 4rem;
  }
  @include laptop-query {
    margin-left: 8rem;
  }
}
.navbar {
  padding: 1rem;
  align-content: center;
  height: 90px;
  background-color: $white;
}

.change {
  position: relative;
  left: 789px;
  top: -76px;
}

.dropdown {
  height: 200px;
  display: flex;
  align-content: center;
  justify-content: center;

  margin: 1rem;
  @include tablet-query {
    width: 600px;
    position: relative;
    top: -79px;
    left: 100px;
  }
  @include laptop-query {
    width: 600px;
    position: relative;
    top: -79px;
    left: 400px;
  }
}
.dropdown-list {
  list-style: none;
}
.dropdown-link {
  text-decoration: none;
  color: $dark-blue;
  @include tablet-query {
    text-decoration: underline;
  }
  @include laptop-query {
    text-decoration: underline;
  }
}
.dropdown-list__item {
  list-style: none;
  padding: 0.5rem;
  @include tablet-query {
    width: 70px;
    padding: 0 0 0 0.01;
    display: inline-block;
    font-size: 0.9rem;
  }
  @include laptop-query {
    width: 90px;
  }
}
.dropdown-list__item:hover {
  @include tablet-query {
  }
}
.bars {
  position: relative;

  @include tablet-query {
    display: none;
  }
  @include laptop-query {
    display: none;
  }
}
.close {
  display: none;
}
.navbar-btn {
  @include tablet-query {
    position: relative;
    top: -300px;
    left: 650px;
    border-radius: 25px;
    font-size: 0.71rem;
    padding: 0.3rem;
    color: $white;
    background: linear-gradient(45deg, $lime-green, $bright-cyan);
    border-radius: $margin + 0.9;
    padding: 1rem 2.8rem;
    margin-bottom: $margin + 1;
    transition: all 0.3s;
  }
  &:hover,
  &:active {
    color: $white;
    background: linear-gradient(45deg, hsl(136, 65%, 44%), hsl(192, 70%, 45%));
  }
  @include laptop-query {
    color: $white;
    width: 150px;
    border-radius: 25px;
    font-size: 0.71rem;
    padding: 0.5rem;
    border: 0.5px solid $light-grayish-blue;
    position: relative;
    top: -300px;
    left: 1130px;
  }
}

/* Article card */
.article {
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0 0 5px $light-grayish-blue;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px $light-grayish-blue;
  }

  &-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  &__content {
    padding: 1rem 1.5rem;
    &-title {
      font-size: $fs-m;
      font-weight: $fw-normal;
      color: $dark-blue;
    }
    &-desc {
      font-size: $fs-s;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__credit {
    font-size: $fs-xs;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    &-author:hover {
      text-decoration: underline;
    }
  }
  &__credit,
  &__content-desc,
  a {
    color: $grayish-blue;
    font-weight: $fw-light;
    text-decoration: none;
  }
  &-link {
    color: transparent !important;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
/* Articles section */
.articles {
  padding: 5rem 1rem;
  background-color: $very-light-gray;

  &-title {
    font-weight: $fw-normal;
    color: $dark-blue;
    text-align: center;
    font-size: $fs-l;
    margin-bottom: $fs-xl;
    text-transform: capitalize;
  }
  &__list {
    display: grid;
    grid-gap: 2rem;
  }
  @include tablet-query {
    padding: 5rem;
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
  }
  @include laptop-query {
    padding: 5rem 10rem;
    &-title {
      text-align: left;
      font-size: $fs-xl;
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
}

// Footer Section
.footer {
  background-color: $dark-blue;
  color: $white;

  &__container {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.lg {
  margin-bottom: $margin + 1.5;
}

.logo__image {
  width: 144px;
  height: auto;
}

.social__media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $margin;
  padding: 0;
}

.svg__icon {
  width: 26px;
  height: 26px;
  margin-bottom: $margin;

  path {
    transition: fill 0.3s;
    &:hover,
    &:active {
      fill: $lime-green;
    }
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $margin;
  margin-bottom: $margin + 1;
  padding: 0;
}

.link__item {
  list-style: none;
  margin-bottom: $margin;

  .link {
    text-decoration: none;
    color: $white;
    font-weight: $fw-normal;
    font-size: $fs-s + 0.2;
    transition: color 0.3s;

    &:hover,
    &:active {
      color: $lime-green;
    }
  }
}

.btn {
  color: $white;
  background: linear-gradient(45deg, $lime-green, $bright-cyan);
  border-radius: $margin + 0.9;
  padding: 1rem 2.8rem;
  margin-bottom: $margin + 1;
  transition: all 0.3s;

  &:hover,
  &:active {
    color: $white;
    background: linear-gradient(45deg, hsl(136, 65%, 44%), hsl(192, 70%, 45%));
  }
}

.copyright {
  color: $grayish-blue;
}

.btn {
  padding: 0.8rem 2rem;
}

.btn-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include tablet-query {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: $margin + 0.5;
  }

  .lg {
    padding: 0.2rem;
    margin-bottom: $margin + 2.5;
  }
  .logo__image {
    width: 144px;
    height: auto;
  }

  .svg__icon {
    width: 20px;
    height: 20px;
  }

  .link__item {
    .link {
      font-size: $fs-s;
    }
  }

  .copyright {
    font-size: $fs-s;
  }

  .btn {
    padding: 0.5rem 2rem;
  }
}

@include laptop-query {
  .footer__container {
    padding: 3rem 5rem;
  }

  .footer__links {
    margin-bottom: 0;
  }

  .link__item-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: $margin + 4;
    text-align: left;
  }
}
