/* colors */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
/* font-family */
/* font-weight */
/* font-size */
/* media queries */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background-color: #fafafa;
}

.close {
  padding-right: 0rem;
}

.dropdown {
  background-color: white;
  width: 650px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  padding: 2rem;
}

.dropdown-list {
  margin: 0 auto;
}

.dropdown-list__item {
  list-style: none;
  padding: 0.5rem;
}

/* Article card */
.article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 0 5px #f3f4f6;
          box-shadow: 0 0 5px #f3f4f6;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
}

.article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px 5px #f3f4f6;
          box-shadow: 0 0 10px 5px #f3f4f6;
}

.article-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__content {
  padding: 1rem 1.5rem;
}

.article__content-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #2d314d;
}

.article__content-desc {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article__credit {
  font-size: 0.8rem;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

.article__credit-author:hover {
  text-decoration: underline;
}

.article__credit, .article__content-desc,
.article a {
  color: #9698a6;
  font-weight: 300;
  text-decoration: none;
}

.article-link {
  color: transparent !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Articles section */
.articles {
  padding: 5rem 1rem;
  background-color: #fafafa;
}

.articles-title {
  font-weight: 400;
  color: #2d314d;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}

.articles__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .articles {
    padding: 5rem;
  }
  .articles__list {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .articles {
    padding: 5rem 10rem;
  }
  .articles-title {
    text-align: left;
    font-size: 2.5rem;
  }
  .articles__list {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.footer {
  background-color: #2d314d;
  color: white;
}

.footer__container {
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lg {
  background: white;
  margin-bottom: 2.5rem;
  padding: 1rem;
  -webkit-transform: skew(15deg);
          transform: skew(15deg);
}

.logo__image {
  width: 144px;
  height: 25px;
}

.social__media {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.image__icon {
  width: 26px;
  height: 26px;
  margin-bottom: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.link__item {
  list-style: none;
}

.link__item .link {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
}

.link__item .link:hover, .link__item .link:active {
  color: #31d35c;
}

.btn {
  color: white;
  background: linear-gradient(45deg, #31d35c, #2bb7da);
  border-radius: 1.9rem;
  padding: 1rem 2.8rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn:active {
  color: white;
  background: linear-gradient(45deg, #27b94e, #22a3c3);
}

.copyright {
  color: #9698a6;
}
/*# sourceMappingURL=styles.css.map */
=======
/* colors */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
/* font-family */
/* font-weight */
/* font-size */
/* media queries */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  background-color: #fafafa;
}

.close {
  padding-right: 0rem;
}

.dropdown {
  background-color: white;
  width: 650px;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  padding: 2rem;
}

.dropdown-list {
  margin: 0 auto;
}

.dropdown-list__item {
  list-style: none;
  padding: 0.5rem;
}

/* Article card */
.article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0 0 5px #f3f4f6;
          box-shadow: 0 0 5px #f3f4f6;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
}

.article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px 5px #f3f4f6;
          box-shadow: 0 0 10px 5px #f3f4f6;
}

.article-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article__content {
  padding: 1rem 1.5rem;
}

.article__content-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: #2d314d;
}

.article__content-desc {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article__credit {
  font-size: 0.8rem;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

.article__credit-author:hover {
  text-decoration: underline;
}

.article__credit, .article__content-desc,
.article a {
  color: #9698a6;
  font-weight: 300;
  text-decoration: none;
}

.article-link {
  color: transparent !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* Articles section */
.articles {
  padding: 5rem 1rem;
  background-color: #fafafa;
}

.articles-title {
  font-weight: 400;
  color: #2d314d;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}

.articles__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .articles {
    padding: 5rem;
  }
  .articles__list {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .articles {
    padding: 5rem 10rem;
  }
  .articles-title {
    text-align: left;
    font-size: 2.5rem;
  }
  .articles__list {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
/*# sourceMappingURL=styles.css.map */

/* why section*/
.container{
  width: 90%;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  font-family: 'Public Sans', sans-serif;
}
  
.why-section{
  color: hsl(233, 26%, 24%);
}
.why-p{
  color: hsl(233, 8%, 62%); 
  padding:1rem;

}
img{
  padding: 1.8rem;
  
}
.why-section{
  font-family: 'Public Sans', sans-serif;
  padding-top: 2rem;
  padding-left: 7rem;
  padding-bottom: 3rem;
}
>>>>>>> main
