
/* colors */
$dark-blue: hsl(233,26%, 24%);
$lime-green:hsl(136,65%, 51%);
$bright-cyan:hsl(192,70%, 51%);
$grayish-blue:hsl(233,8%,62%);
$light-grayish-blue:hsl(220,16%,96%);
$very-light-gray:hsl(0,0%,98%);
$white:hsl(0,0%,100%);

/* font-family */
$ff-public:'Public Sans', sans-serif;

/* font-weight */
$fw-light: 300;
$fw-normal:400;
$fw-bold:700;

/* font-size */
$fs-xl:2.5rem;
$fs-l:2rem;
$fs-m:1.5rem;
$fs-s:0.9rem;
$fs-xs:0.8rem;