
.articles{
    padding:5rem 1rem;
    background-color: $very-light-gray;
    
    &-title{
        font-weight: $fw-normal;
        color:$dark-blue;
        text-align: center;
        font-size: $fs-l;
        margin-bottom: 2.5rem;
        text-transform: capitalize;
    }

    &__list{
        display: grid;
        grid-gap: 2rem;
    }

    @include tablet-query{
        padding:5rem;
        &__list{
            grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
        }
    }

    @include laptop-query{
        padding:5rem 10rem;
        &-title{
            text-align: left;
            font-size: $fs-xl;
        }

        &__list{
            grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
        }
    }
}